.clean-container {
  margin: 5px 0;
}

.btn {
  display: block;
  background-color: var(--black);
  color: var(--text-primary);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: var(--surface-primary);
}
